@mixin  gradient-text($font-size,  $gradient, $line-height)
  font-size: $font-size
  font-weight: 600
  line-height: $line-height
  background: $gradient
  color: transparent
  background-clip: text
  -webkit-background-clip: text

@mixin news-item()
  background: $dark-gray
  margin: 10px 5px
  padding: 50px 10px 10px 10px
  border: 1px solid $white

@mixin grayscale()
  filter: grayscale(1)
  transition: $transition

@mixin source-logo-button()
  width: 50px
  border: 1px solid $white
  background: $blue
  padding: 5px
  transition: $transition

@mixin img-container($height, $width)
  height: $height
  min-width: $width
  overflow: hidden

@mixin the-img()
  background: #000
  width: 100%
  border: 1px solid $white
  object-fit: contain
  object-position: center center
