@mixin  gradient-text($font-size,  $gradient)
  font-size: $font-size
  font-weight: 600
  background: $gradient
  color: transparent
  background-clip: text
  -webkit-background-clip: text

@mixin news-item()
  background: $dark-gray
  margin: 10px 5px
  padding: 50px 10px 10px 10px

@mixin grayscale()
  filter: grayscale(1)
  transition: $transition
