//colors
$black: #000
$white: #fff

$gray: #1B1B1F
$dark-gray: #161618
$blue: rgba(0, 188, 212, 1)
$yellow: rgba(255, 255, 0, 1)

//gradients
$gradient-1: conic-gradient(from 90deg at 50% 50%, rgba(33, 150, 243, 1) 0%, rgba(0, 188, 212, 1) 40%, rgba(238, 130, 238, 1) 90%)

$gradient-2: radial-gradient(ellipse at 50% 50%, rgba(33, 150, 243, 1) 0%, rgba(0, 188, 212, 1) 49%, rgba(0, 188, 212, 1) 88%, rgba(33, 150, 243, 1) 98%)

$gradient-3: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 50%, rgba(238, 130, 238, 1) 100%)

//font sizes
$heading: 50px
$heading-sm: 30px

$subheading: 25px
$subheading-sm: 20px

$body-text: 16px
$body-text-sm: 14px

// margins
$margin-section: 100px
$margin-top: 20px
$margin-sm: 10px

// another elements
$border: 3px solid white

//transnition
// $transnision: all 1s ease-out

$transition: all 3s ease-out
