//colors
$black: #000
$white: #fff

$gray: #1B1B1F
$dark-gray: #161618


$red: #A50021
//font sizes
$heading:50px
$heading-sm: 30px

$subheading: 25px
$subheading-sm: 20px

$body-text: 16px
$body-text-sm: 14px


// margins
$margin-section: 100px
$margin-top: 20px
$margin-sm: 10px
   

// another elements
$border: 3px solid white

//transnition
$transnision: all 1s ease-out