.category
   &__wrapper
   &__nav
      display: flex
      align-items: center
      justify-content: space-between
   &__nav--view
   &__nav--back
   &__nav--title
      margin: 0px 20px
   &__items
      width: 100%
   &__item
      border:  $border 
      @include news-item()
      display: flex
      flex-direction: column
   &__text
      flex: 1 0 auto
      margin-bottom: 5px
   &__text--title
      p::first-line 
         @include gradient-text($gradient-3)
   &__text--description
   &__text--img
      width: 60px
      height: 60px
      img
         @include source-logo-button()
         width: 100%
   &__text--img img:hover
      background: $yellow

   &__img
      flex: 0 0 auto
      @include img-container(300px, 100%)
      img
         @include the-img()
      img:hover
         border: $border-gray
