.thesis
   &__wrapper
   &__item
      @include news-item()
   &__item:hover
      background: $hover-gray
   &__title
   &__img
      @include img-container(100%, 100%)
      img
         @include the-img()
      img:hover
        border: $border-gray
   &__info
      margin-bottom: 5px
      button
         margin-left: 12px
         background: transparent
         border: $gray
   &__source

   &__source--img
      width: 60px
      height: 60px
      img
         @include source-logo-button()
         width: 100%
   &__source--img img:hover
      background: $yellow


 