.thesis
   &__wrapper
   &__item
      @include news-item()
   &__title
   &__img
      width: 100%
      img
         width: 100%
   &__info
   &__source
   &__source--img
      width: 50px
      img
         width: 100%

 