.article
   &__wrapper
      display: grid
      grid-template-columns: 1fr 6fr 2fr
      grid-template-areas: "b b a" "b b c" "b b c"
   &__item
      padding: 50px 10px 10px 10px
      margin: 5px
   &__text
   &__media
   &__media--icon
      width: 20px
      img
         width: 100%
   &__img
      min-width: 100%
      img
         width: 100%

.red
   color: red