button
   border: 1px solid $gray

.button-svg
   background: $gray
   border: 1px solid  $gray
   transition: $transition
   svg
      fill: $yellow

.button-svg:hover
   svg
      fill: $blue

.read-more
   background: $white
   font-size: 30px