button
   transition: $transition
   border: 1px solid $gray

.button-svg
   background: $gray
   border: 1px solid  $gray
   svg
      fill: $yellow

.button-svg:hover
   svg
      fill: $blue

.read-more
   color: $white
   background: $gradient-3
   font-size: $heading

.read-more:hover
   background: $gradient-2